<!DOCTYPE html>
<html lang="fr">
    <head>
         <meta charset="UTF-8">
        <title>Email checker</title>
    </head>
    <body>
        <form action="/" method="post" class="sender">
            <label for="check_list">Liste à checker e</label><br>
            <textarea name="check_list" id="liste" cols="40" rows="30"></textarea><br>
            <button type="submit">Checker</button>
        </form>

    </body>
</html>